<!-- Page de création d'un Post : /posts/new !-->

<div class="Header">
	<h2> <font color="blue"> Ajout d'un commentaire</font></h2>
</div>

<%= form_for([@comment.post, @comment]) do |f| %>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
