<!-- Page de création d'un Post : /posts/new !-->

<div class="bordure-left"></div>
<div class="bordure-right"></div>
<div class="Header">
	<h1>Affichage du commentaire n°<%=@comment.id%></h1>
</div>

<p>
	<font color="green" id="notice"><%= notice %></font>
</p>

<p>
<div class ="field">
		 	<br><label for="author">Auteur : </label>
		 	<br><input type="text" readonly="true" id="author" name="author" cols="40" value="<%=@comment.author%>" />
</div>
	<div class ="field">
		<br><label for="body">Contenu : </label>
		<br><textarea readonly name="body" id="body" rows="3" cols="40"><%=@comment.body%></textarea>
	</div><br>

<!-- /posts/:post_id/comments/:id/edit -->
<%= button_to 'Modifier', edit_post_comment_path(@comment.post, @comment), :method => "get" %><br>

<!-- /posts/:post_id/comments/ -->
<%= button_to 'Retour', show_path(@comment.post), :method => 'get' %>
